@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'Chaney';
  src: url('/fonts/chaney-regular.woff2') format('woff2'),
       url('/fonts/chaney-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'Argesta';
//   src: url('/fonts/argestadisplay-regular.woff2') format('woff2'),
//        url('/fonts/argestadisplay-regular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'ArgestaItalic';
//   src: url('/fonts/argestadisplay-regularitalic.woff2') format('woff2'),
//        url('/fonts/argestadisplay-regularitalic.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

