$font-size-root: 16px;
$yellow: #FFF100;
$black: #000;
$primary: #000;
$secondary: #6D6E70;
$enable-rounded: false;
$enable-negative-margins: true;
$font-family-sans-serif: 'PT Serif', 'Helvetica', sans-serif;
$box-shadow: 0 0 1rem rgba($black, .15);

@import 'aos/dist/aos';
@import 'animations';
@import 'fonts';
@import 'bootstrap/scss/bootstrap';

body {
  background: #eee;
  font-size: $font-size-root;
  margin: 0;
  color: $primary;
  overscroll-behavior: none;
}
svg#logo {
  position: relative;
  z-index:100;
  width: 70%;
}
.btn {
  font-family: 'Chaney', 'Helvetica', sans-serif;
  text-transform: uppercase;
}

.btn:hover {
  background: #333;
}

.text-justify {
  text-align: justify;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}
.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.top-25 {
  top: 25%!important;
}
.top-10 {
  top: 10%!important;
}
.text-yellow {
  color: $yellow;
}
input:focus, .btn:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Chaney', 'Helvetica', sans-serif;
}

h1 {
  //font-size: 3.2em;
  font-size: calc(min(13vw, 7em));
  line-height: 0.9em;
}

h2 {
  line-height: 0.9em;
  font-size: calc(min(13vw, 5em));
  // z-index: 2;
}

h3 {
  //font-size: 1.9em;
  // font-size: 7.2vw;
  font-size: calc(min(7.2vw, 2.5em));
  line-height: 0.9em;
}
.main {
  background: #fff;
  max-width:1200px;
  overflow-x: hidden;
  min-height:100vh;
}

#header {
  position: relative;
  h1{
    position: relative;
    z-index: 2;
    margin-bottom: -100vw;
  }
  #boxAnim {
    margin-top: -80vw;
    display: block;
    top: 0;
    z-index: 1;
  }
}
.quote {
  .content {
    display:block;
    font-family: 'PT Serif', 'Helvetica', sans-serif;
    font-style: italic;
    font-size: 1.8em;
    line-height: 1em;
  }
  .author {
    font-family: 'Chaney', 'Helvetica', sans-serif;
    font-size: 1em;
  }
}
.quote-small {
  .content {
    font-family: 'PT Serif', 'Helvetica', sans-serif;
    font-size: calc(min(5vw, 1.4em)); //1.5em;
    line-height: 1em;
  }
}

.condition {
  padding: 2em 3em 4em 3em;
  overflow-y:hidden;
  h3 {
    font-size: 7em;
  }
  .content {
    text-align: justify;
  }
}
.condition-one {
  background: #E5E5E5;
}
.condition-two {
  background: #CBCBCB;
}

#yochai {
  margin-top: -40vw;
  margin-bottom: -40vw;
}

#platformsTitle {
  position: relative;
  z-index: 2;
}
#sharingPlatforms {
  z-index:1;
  margin-top: -25vw;
  margin-bottom: 10vw;
  transform: scale(1.5);
  -webkit-transform: scale(1.5, 1.5);
}
// #modelsTitle{
//   position: relative;
//   z-index:2;
// }
#closedSharing {
 // z-index:1;
  margin-top: -25vw;
}

#lessig {
  margin-top: -40vw;
  margin-bottom: -40vw;
}
#newOpen {
  margin-top: 30vw;
  margin-bottom: 30vw;
  transform: scale(1.5);
  -webkit-transform: scale(1.5, 1.5);
  //width: 150vw;
}
.invert {
  background: #000;
  color: #fff;
}
.bg-yellow{
  background: $yellow;
}
.bg-gray {
  background: #B2B2B2;
}
.bg-white {
  background: #fff;
}

.yellow-box{
  background: $yellow;
  font-family: 'PT Serif', 'Helvetica', sans-serif;
  font-style: italic;
  font-size: 2em;
  line-height: 1em;
  padding: 3em 2em;
  overflow: hidden;
}
.box-small {
  padding: 1em 2.7em;
}
.gray-box {
  background: #e0e0e0;
  overflow: hidden;
}
.box {
  overflow:hidden;
}
.bolder {
  font-size: 1.4em;
  line-height: 1.4em;
  padding: 3em 2em;
  font-family: 'Chaney', 'Helvetica', sans-serif;
}
.big-box {
  font-size: 1.35em;
}
.huge-text{
  font-size: 15em;
  font-family: 'Chaney', 'Helvetica', sans-serif;
}
.newsletter-cta {
  background: #666666;
  font-family: 'PT Serif', 'Helvetica', sans-serif;
  font-style: italic;
  color: #fff;
  font-size: 1.5em;
  line-height: 1.2em;
}
.newsletter-button {
  font-size: 1.8em;
}
.newsletter-input {
  font-size: 1.5em;
}
.inner-shadow {
  box-shadow: inset 0 0 7px rgba(0,0,0,0.2);
}

#progress_bar {
  --scroll: 0%;
  background: linear-gradient(to right, $yellow var(--scroll),#ccc 0);
  position: fixed;
  width: 100%;
  height: 4px;
  top: 0;
  left: 0;
  z-index: 100;
}
.credits {
  font-size: 0.22em;
  line-height:1.2em;
  font-family: 'PT Serif', 'Helvetica', sans-serif;
  font-style: italic;
  color: #666666;
  width: 30%;
  float:right;
}

.btn.bg-yellow{
  &:hover {
    color: #fff;
  }
}

.fixedBar {
  width: 100%;
  font-size: 17px;
}

@include media-breakpoint-up(sm) {
  .fixedBar {
    max-width: 500px;
    font-size: 21px;
    margin-bottom: 40px;
  }
}

@include media-breakpoint-up(md) {
  body {
    font-size: 21px;
  }
  #yochai {
    margin-top: -35vw;
    margin-bottom: -35vw;
  }
  #closedSharing {
    // z-index:1;
     margin-top: -15vw;
   }
   #lessig {
    margin-top: -35vw;
    margin-bottom: -35vw;
  }
}

@include media-breakpoint-up(xl) {
  .credits {
    font-size: 0.19em;
    line-height:1.2em;
    font-family: 'PT Serif', 'Helvetica', sans-serif;
    font-style: italic;
    color: #666666;
    width: 30%;
    float:right;
  }
  #header {
    #boxAnim {
      margin-top: -25em;
      display: block;
      top: 0;
      z-index: 1;
    }
  }
  svg#logo{
    width: 90%;
  }
  #yochai {
    margin-top: -200px;
    margin-bottom: -200px;
  }
  .text-xl-left {
    text-align: left !important;
  }
  .text-xl-right {
    text-align: right !important;
  }
  .quote {
    font-size: 1.5em;
  }
  .yellow-box{
    background: $yellow;
    font-family: 'PT Serif', 'Helvetica', sans-serif;
    font-style: italic;
    font-size: 2em;
    line-height: 1em;
    padding: 4em 3em;
    overflow: hidden;
  }
  .bolder {
    font-size: 1.4em;
    line-height: 1.4em;
    padding: 4em 3em;
    font-family: 'Chaney', 'Helvetica', sans-serif;
  }
  #sharingPlatforms {
    z-index:1;
    margin-top: -20em;
    margin-bottom: -5em;
    transform: scale(0.9);
    -webkit-transform: scale(0.9, 0.9);
  }
  #closedSharing {
    // z-index:1;
     margin-top: -12em;
     //
     transform: scale(0.9);
     -webkit-transform: scale(0.9, 0.9);
   }
   #lessig {
    margin-top: -9em;
    margin-bottom: -10em;
  }
  #newOpen {
    margin-top: 4em;
    margin-bottom: 4em;
    transform: scale(1.1);
    -webkit-transform: scale(1.1, 1.1);
    //width: 150vw;
  }
  #euFlagXL{
    margin-top: 2em;
    margin-left: -3.7em;
  }
  .yellow-hr {
    padding: 1em 2.7em;
  }
}

@supports (-webkit-touch-callout: none) {
  .main {
    min-height: -webkit-fill-available !important;
  }
}

.responses {
  max-width: map-get($grid-breakpoints, sm);
  h1#title {
    line-height: 0.9em;
    font-size: calc(min(10vw, 4rem));
  }
  .subtitle {
    color: #b3b3b3;
    display:block;
    font-family: 'PT Serif', 'Helvetica', sans-serif;
    font-style: italic;
    font-size: calc(min(9vw, 3rem));
    line-height: 1rem;
    text-align: right;
  }
  .intro {
    color:#666666;
    font-size: 0.8rem;
    line-height: 1rem;
    font-family: 'PT Sans', 'Helvetica', sans-serif;
  }
  .view {
    font-family: 'Chaney', 'Helvetica', sans-serif;
    font-size: 0.8rem;

    img {
      margin-bottom: 0.15em;
    }
  }
  .logo {
    width: 35%;
    margin-left: 10px;
  }
}

#list {
  max-width: map-get($grid-breakpoints, sm);
  top: 0;
  transform: translateY(0);
  .author {
    font-size: 0.8rem;
    line-height: 1rem;
    font-family: 'PT Serif', 'Helvetica', sans-serif;
    color: #666666;
    font-style: italic;
  }
  .title {
    font-size: 0.9rem;
    line-height: 1rem;
    font-family: 'Chaney', 'Helvetica', sans-serif;
    color: #000;
  }
}

#covers {
  //background-color: red;
  // border: blue;
  width: 100%;
  padding-top: 40vh;
  padding-bottom: 40vh;
  height: fit-content;
  max-width: map-get($grid-breakpoints, sm);
  pointer-events: none;
  // overflow-y: auto;
  // scroll-snap-type: y mandatory;
  // scroll-behavior: smooth;
  // -webkit-overflow-scrolling: touch;

  div.cover {
      // scroll-snap-align: start;
      width: 100%;
      height: 80vh;
      //background: pink;
      //border: cyan 1px solid;
      a {
        pointer-events: auto;
      }
    }
}

@include media-breakpoint-up(sm) {
  .responses {
    .logo {
      width: auto;
    }
    .intro {
      font-size: 0.9rem;
      line-height: 1.25rem;
    }
    .view {
      font-size: 0.9rem;
    }
  }
  #list {
    top: 50%;
    transform: translate(-50%, -50%);
    left:50%;
    //transform: translateY(-50%);
    .author {
      font-size: 1rem;
      line-height: 1rem;
    }
    .title {
      font-size: 1.2rem;
      line-height: 1.2rem;
    }
  }
  #resBG {
    height:370px;
  }
}
#cubeFront {
  bottom: -145px;
  width: 312px;
}
#cubeBack{
  width: 312px;
  bottom: 40px;
}
#resBG {
  z-index:105;
  position: fixed;
  top:50%;
  left:50%;
  // bottom: 20px;
  transform: translateX(-50%);
}

@include media-breakpoint-up(sm) {

  #cubeFront {
    bottom: -233px;
    width: 460px;
  }
  #cubeBack{
    width: 460px;
    bottom: 40px;
  }
  #resBG {

  }

}