$font-size-root: 13px;
$yellow: #FFF100;
$primary: #000;
$secondary: #6D6E70;
$enable-rounded: false;
$enable-negative-margins: true;
$font-family-sans-serif: 'Argesta', 'Helvetica', sans-serif;

@import 'aos/dist/aos';
@import 'animations';
@import 'fonts';
@import 'bootstrap/scss/bootstrap';

body {
  background: #eee;
  font-size: $font-size-root;
  margin: 0;
  color: $primary;
  overscroll-behavior: none;
}
.logo {
  position: relative;
  z-index:100;
}
.btn {
  font-family: 'Chaney', 'Helvetica', sans-serif;
  text-transform: uppercase;
}

.btn:hover {
  background: #333;
}

.text-justify {
  text-align: justify;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.text-yellow {
  color: $yellow;
}
input:focus, .btn:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Chaney', 'Helvetica', sans-serif;
}

h1 {
  font-size: 4em;
  line-height: 0.9em;
}

h2 {
  line-height: 0.9em;
  font-size: 4.3em;
  // z-index: 2;
}

h3 {
  font-size: 2.4em;
  line-height: 0.9em
}
.main {
  background: #fff;
  max-width:1200px;
  overflow-x: hidden;
}

#header {
  position: relative;
  h1{
    position: relative;
    z-index: 2;
    margin-bottom: -100vw;
  }
  #boxAnim {
    margin-top: -80vw;
    display: block;
    top: 0;
    z-index: 1;
  }
}
.quote {
  .content {
    display:block;
    font-family: 'ArgestaItalic', 'Helvetica', sans-serif;
    font-size: 2.9em;
    line-height: 1em;
  }
  .author {
    font-family: 'Chaney', 'Helvetica', sans-serif;
    font-size: 1.5em;
  }
}
.quote-small {
  .content {
    font-family: 'Argesta', 'Helvetica', sans-serif;
    font-size: 2em;
    line-height: 1em;
  }
}

.condition {
  padding: 4em 6em 6em 6em;
  h3 {
    font-size: 7em;
  }
  .content {
    text-align: justify;
  }
}
.condition-one {
  background: #E5E5E5;
}
.condition-two {
  background: #CBCBCB;
}

#yochai {
  margin-top: -40vw;
  margin-bottom: -40vw;
}

#platformsTitle {
  position: relative;
  z-index: 2;
}
#sharingPlatforms {
  z-index:1;
  margin-top: -25vw;
  margin-bottom: 10vw;
  //transform: scale(1.5);
}

#lessing {
  margin-top: -40vw;
  margin-bottom: -40vw;
}
.invert {
  background: #000;
  color: #fff;
}
.yellow-box{
  background: $yellow;
  font-family: 'ArgestaItalic', 'Helvetica', sans-serif;
  font-size: 2em;
  line-height: 1em;
  padding: 3em 2em;
}
.gray-box {
  background: #F1F1F1;
}
.bolder {
  font-size: 1.4em;
  line-height: 1.4em;
  padding: 4em 3em;
  font-family: 'Chaney', 'Helvetica', sans-serif;
}
.big-box {
  font-size: 1.4em;
}
@include media-breakpoint-up(md) {
  body {
    font-size: 21px;
  }
  h1 {
    font-size:2.5em;
  }
  h2 {
    font-size: 4em;
  }
  h3{
    font-size: 3.5em;
  }
}

@include media-breakpoint-up(lg) {

}

#progress_bar {
  --scroll: 0%;
  background: linear-gradient(to right, $yellow var(--scroll),#ccc 0);
  position: fixed;
  width: 100%;
  height: 4px;
  top: 0;
  left: 0;
  z-index: 100;
}