{{ define "main" }}
{{- partial "progress.html" . -}}
{{ with .Site.GetPage "home/01_intro" }}
<div class="row">
  <header id="header" class="col-12">
    <div class="row">
      <h1 class="col-10 mx-auto">{{ .Title | markdownify }}
        <div class="credits mt-2 mt-md-4">{{ .Site.Params.Credits | markdownify }}</div>
      </h1>
      <div class="col-12 col-xl-8 align-self-center mx-auto gx-0">
        <lottie-player id="boxAnim" src="/animation/intro_box.json"></lottie-player>
      </div>
    </div>
  </header>

  <!-- Fixed bar -->
  <div class="bg-white bottom-0 start-50 translate-middle-x position-fixed d-flex p-4 flex-row align-items-center justify-content-between fixedBar shadow" style="z-index: 1000;">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" style="width:24px; height:24px"
    onclick="this.parentNode.classList.add('d-none');" role="button">
      <path stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
    <div class="quote text-sm text-end">
      <span class="content" style="font-size:0.6em; line-height:1em;">
        See what others think<br/> about our essay
      </span>
    </div>
    <a href="https://openfuture.eu/event/open-future-salon-2-launch-of-paradox-of-open-responses" class="btn bg-yellow" style="font-size:0.7em;">Join the event</a>
  </div>

  <!-- <div class="bg-white bottom-0 start-50 translate-middle-x position-fixed d-flex p-4 flex-row align-items-center justify-content-between fixedBar shadow" style="z-index: 1000;">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" style="width:24px; height:24px"
    onclick="this.parentNode.classList.add('d-none');" role="button">
      <path stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
    <div class="quote text-sm text-end">
      <span class="content" style="font-size:0.6em; line-height:1em;">
        See what others think<br/> about our essay
      </span>
    </div>
    <a href="/responses" class="btn bg-yellow" style="font-size:0.7em;">Read the Responses</a>
  </div> -->

</div>
<div class="row justify-content-center">
  <div class="col-11 col-xl-8 align-self-center mx-auto my-5">
    <h2 data-aos="fade-right">{{ .Params.subtitle | markdownify }}</h2>
    <div class="quote col-10 mx-auto mt-5 text-left">
      <div  class="content" data-aos="fade-down">
        {{ .Params.subsubtitle | markdownify }}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-10 col-xl-5 offset-1">
    {{.Summary}}
  </div>
  <div class="w-xl-100"></div>
  <div class="col-12 col-md-10 col-xl-5 offset-md-1 order-xl-3 offset-xl-1 align-self-start gx-0">
    <lottie-player id="yochai" src="/animation/yochai1.json"></lottie-player>
  </div>
  <div class="col-9 col-xl-5 offset-xl-6 order-xl-2 mx-auto align-self-center quote">
    <div class="content mx-auto text-center text-xl-left" data-aos="fade-down">
      {{ .Params.quote | markdownify }}
    </div>
    <div class="author text-center mt-2 mb-5 text-xl-right" data-aos="fade-up">{{.Params.quote_author }}</div>
  </div>
  <div class="col-10 col-xl-5 offset-1 order-last"> <!-- col-10 col-xl-6 mx-auto mx-xl-0 offset-xl-1 align-self-start order-last-->
    {{ $both := split .RawContent "<!--more-->" }}
    {{ index $both 1 | markdownify }}
  </div>
</div>
{{ end }}
<div class="w-100"></div>
{{ with .Site.GetPage "home/02_revolution" }}
{{ $both := split .RawContent "<!--more-->" }}
<div class="row">
  <div class="col-9 d-xl-none align-self-center mx-auto my-5">
    <h3 data-aos="fade-right">{{ .Title | markdownify}}</h3>
  </div>
  <div class="col-8 d-none d-xl-block align-self-center mx-auto my-5">
    <h3 data-aos="fade-right" class="py-5">{{ .Params.title_xl | markdownify}}</h3>
  </div>
  <div class="col-10 col-xl-5 offset-1">
    {{ index $both 0 | markdownify }}
  </div>
  <div class="quote quote-small col-8 col-xl-10 quote mx-auto mt-3 mb-5 mt-xl-5">
    <div class="content text-center pb-xl-5" data-aos="fade-up">{{ .Params.conditionsHeader | markdownify }}</div>
  </div>
  <div class="col-12 col-xl-6 condition condition-one">
    <div data-aos="fade-up" data-aos-anchor-placement="top-center">
      <h3 class="text-center">1</h3>
      <div class="content mt-4 w-80 mx-auto">
        {{ .Params.condition1 | markdownify}}
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-6 condition condition-two">
    <div data-aos="fade-up" data-aos-anchor-placement="top-center">
      <h3 class="text-center">2</h3>
      <div class="content mt-4 w-80 mx-auto">
        {{ .Params.condition2 | markdownify}}
      </div>
    </div>
  </div>
  <div class="col-10 col-xl-5 offset-1 mt-5">
    {{ index $both 1 | markdownify }}
  </div>
  <div class="quote quote-small col-10 mx-auto mt-5 mb-5 text-center">
    <div class="content" data-aos="fade-up">{{ .Params.summary | markdownify }}</div>
  </div>
</div>
{{ end }}

{{ with .Site.GetPage "home/03_platforms" }}
{{ $both := split .RawContent "<!--more-->" }}
<div class="row">
  <div class="col-11 col-xl-7 align-self-center mx-auto my-5">
    <h2 id="platformsTitle" data-aos="fade-right">{{ .Title | markdownify}}</h2>
  </div>
  <div class="col-12 align-self-end gx-0">
    <lottie-player id="sharingPlatforms" src="/animation/sharing_platforms.json" data-aos="fade-up" data-aos-anchor-placement="top-center"></lottie-player>
  </div>
  <div class="col-10 col-xl-5 mx-auto offset-xl-1 me-xl-0">
    {{ index $both 0 | markdownify }}
  </div>
  <div class="col-10 col-xl-5 mx-auto">
    {{ index $both 1 | markdownify }}
  </div>
</div>
{{ end }}

{{ with .Site.GetPage "home/04_models" }}
{{ $both := split .RawContent "<!--more-->" }}
<div class="row mt-xl-3">
  <div class="col-11 col-xl-8 align-self-center mx-auto my-5">
    <h3 id="modelsTitle" data-aos="fade-right" class="d-xl-none">{{ .Title | markdownify }}</h3>
    <h3 id="modelsTitle" data-aos="fade-right" class="d-none d-xl-block">{{ .Params.title_xl | markdownify }}</h3>
  </div>
  <div class="col-12 align-self-end gx-0">
    <lottie-player id="closedSharing" src="/animation/closed_sharing.json" loop="false"></lottie-player>
  </div>
</div>

<div class="row">
  <div class="col-10 col-xl-5 mx-auto offset-1 me-xl-0 ">
    {{ index $both 0 | markdownify }}
  </div>
  <div class="col-10 col-xl-5 mx-auto pt-4 pt-xl-0">
    {{ index $both 1 | markdownify }}
  </div>
</div>

<div class="row align-items-center">
  <div class="col-12 col-md-10 col-xl-5 offset-md-1 align-self-end gx-0 order-xl-last">
    <lottie-player id="lessig" src="/animation/lessig.json"></lottie-player>
  </div>
  <div class="col-8 col-xl-5 quote mx-auto order-xl-first">
    <div class="content mx-auto align-self-center text-center" data-aos="fade-down">
      "{{ .Params.quote }}"
    </div>
    <div class="author text-center mt-2 mb-5" data-aos="fade-up">{{.Params.quote_author }}</div>
  </div>
</div>
  <div class="row">
  <div class="col-10 col-xl-5 mx-auto">
    {{ index $both 2 | markdownify }}
  </div>

  <div class="col-10 col-xl-5 mx-auto pt-4 pt-xl-0">
    {{ index $both 3 | markdownify }}
  </div>
</div>
{{ end }}

{{ with .Site.GetPage "home/05_pockets" }}
<div class="row">
  <div class="col-11 col-xl-10 align-self-center mx-auto my-5">
    <h3 data-aos="fade-right" class="d-xl-none">{{ .Title | markdownify }}</h3>
    <h3 data-aos="fade-right" class="d-none d-xl-block py-5">{{ .Params.title_xl | markdownify }}</h3>
  </div>
  <div class="col-10 col-xl-5 offset-1 mx-auto me-xl-0">
    {{.Content}}
  </div>
  <div class="quote col-8 col-xl-5 mx-auto mt-5 mt-xl-0 mb-1 text-left">
    <div class="content" data-aos="fade-down">{{ .Params.quote | markdownify }}</div>
    <div class="d-none d-xl-block"><lottie-player id="platformFreeXL" src="/animation/platform_free.json" loop autoplay data-aos="fade-up"></lottie-player></div>
  </div>
</div>
{{ end }}
<div class="row">
  <div class="col-12 col-md-10 offset-md-1 gx-0 d-xl-none"><lottie-player id="platformFree" src="/animation/platform_free.json" loop autoplay data-aos="fade-up"></lottie-player></div>
</div>
{{ with .Site.GetPage "home/06_openness" }}
{{ $both := split .RawContent "<!--more-->" }}
<div class="row">
  <div class="col-11 col-xl-8 align-self-center mx-auto mt-1 mb-5">
    <h2 data-aos="fade-right" class="d-xl-none">{{ .Title | markdownify }}</h2>
    <h2 data-aos="fade-right" class="d-none d-xl-block pb-3">{{ .Params.title_xl | markdownify }}</h2>
  </div>
  <div class="col-10 col-xl-5 offset-xl-1 me-xl-0 mx-auto">
    {{ index $both 0 | markdownify }}
  </div>
  <div class="col-10 col-xl-5 mx-auto">
    {{ index $both 1 | markdownify }}
  </div>
</div>
{{ end }}

{{ with .Site.GetPage "home/07_power" }}
{{ $both := split .RawContent "<!--more-->" }}
<div class="row">
  <div class="col-11 col-xl-6 align-self-center mx-auto my-5">
    <h3 data-aos="fade-right" class="d-xl-none">{{ .Title | markdownify}}</h3>
    <h3 data-aos="fade-right" class="d-none d-xl-block">{{ .Params.title_xl | markdownify}}</h3>
  </div>
  <div class="w-100"></div>
  <div class="col-10 col-xl-5 offset-xl-1 me-xl-0 mx-auto">
    {{ index $both 0 | markdownify }}
  </div>
  <div class="col-10 col-xl-5 mx-auto">
    {{ index $both 1 | markdownify }}
  </div>
</div>
{{ end }}
<lottie-player id="powerStructures" src="/animation/structures_of_power.json" loop autoplay data-aos="fade-up"></lottie-player>

{{ with .Site.GetPage "home/08_zeitgeist" }}
{{ $both := split .RawContent "<!--more-->" }}
<div class="row invert py-4 mb-xl-5" data-aos="fade" data-aos-anchor-placement="top-center">
  <div class="col-9 align-self-center mx-auto py-5">
    <h3 >{{ .Title | markdownify}}</h3>
  </div>
  <div class="col-10 col-xl-5 offset-xl-1 me-xl-0 mx-auto">
    {{ index $both 0 | markdownify }}
  </div>
  <div class="col-10 col-xl-5 mx-auto mb-xl-5 pb-xl-5">
    {{ index $both 1 | markdownify }}
  </div>
</div>
{{ end }}

{{ with .Site.GetPage "home/09_limits" }}
<div class="row">
  <div class="quote col-10 mx-auto mt-5 me-xl-0 offset-xl-1 mt-xl-0 mb-5 text-left col-xl-5 mb-xl-5 pb-xl-5">
    <div class="content" data-aos="fade-down">{{ .Params.quote | markdownify }}</div>
  </div>
  <div class="col-10 col-xl-5 mx-auto">
    {{.Content}}
  </div>
</div>
{{ end }}

{{ with .Site.GetPage "home/10_paradox" }}
{{ $both := split .RawContent "<!--more-->" }}
<div class="row">
  <div class="col-10 align-self-center mx-auto py-5">
    <h2 data-aos="fade-right">{{ .Title | markdownify}}</h2>
  </div>
  <div class="col-12 mx-auto yellow-box">
    <div class="mx-auto" data-aos="fade-down" data-aos-anchor-placement="top-center">
      {{.Params.intro | markdownify}}
    </div>
  </div>
  <div class="col-12 col-xl-6 mx-auto gray-box bolder">
    <div data-aos="fade-down" data-aos-anchor-placement="top-center">
      {{ index $both 0 | markdownify }}
    </div>
  </div>
  <div class="col-12 col-xl-6 mx-auto invert bolder box">
    <div data-aos="fade-down" data-aos-anchor-placement="top-center">
      {{ index $both 1 | markdownify }}
    </div>
  </div>
  <div class="col-11 mx-auto big-box py-4">
    {{.Params.outro | markdownify}}
  </div>
</div>
{{ end }}

{{ with .Site.GetPage "home/11_movement" }}
{{ $both := split .RawContent "<!--more-->" }}
<div class="row">
  <div class="col-11 col-xl-7 align-self-center mx-auto py-5 my-xl-4">
    <h3 data-aos="fade-right" class="d-xl-none">{{ .Title | markdownify }}</h3>
    <h3 data-aos="fade-right" class="d-none d-xl-block">{{ .Params.title_xl | markdownify }}</h3>
  </div>
  <div class="w-100"></div>
  <div class="col-10 col-xl-5 offset-xl-1 me-xl-0 mx-auto">
    {{ index $both 0 | markdownify }}
  </div>
  <div class="col-10 col-xl-5 mx-auto mb-xl-5 pb-xl-5">
    {{ index $both 1 | markdownify }}
  </div>
</div>
{{ end }}

<lottie-player id="newOpen" src="/animation/new_open.json" class="mx-auto" data-aos="fade-up"></lottie-player>
{{ with .Site.GetPage "home/12_new" }}
{{ $both := split .RawContent "<!--more-->" }}
<div class="row justify-content-center">
  <div class="col-8 col-xl-4 align-self-center my-5">
    <h3 class="mx-auto d-xl-none" data-aos="fade-right">{{ .Title | markdownify }}</h3>
    <h3 class="mx-auto d-none d-xl-block" data-aos="fade-right">{{ .Params.title_xl | markdownify }}</h3>
  </div>
  <div class="w-100"></div>
  <div class="col-10 col-xl-5 offset-xl-1 me-xl-0 mx-auto">
    {{ index $both 0 | markdownify }}
  </div>
  <div class="col-10 col-xl-5 mx-auto mb-xl-5 pb-xl-5">
    {{ index $both 1 | markdownify }}
  </div>
</div>
{{ end }}


{{ with .Site.GetPage "home/13_understanding" }}
{{ $both := split .RawContent "<!--more-->" }}
<div class="row justify-content-center">
  <div class="col-10 col-xl-6 align-self-center my-5">
    <h3 class="mx-auto d-xl-none" data-aos="fade-right">{{ .Title | markdownify }}</h3>
    <h3 class="mx-auto d-none d-xl-block py-4" data-aos="fade-right">{{ .Params.title_xl | markdownify }}</h3>
  </div>
  <div class="w-100"></div>
  <div class="col-10 col-xl-5 offset-xl-1 me-xl-0 mx-auto">
    {{ index $both 0 | markdownify }}
  </div>
  <div class="col-10 col-xl-5 mx-auto mb-xl-5 pb-xl-5">
    {{ index $both 1 | markdownify }}
  </div>
</div>
{{ end }}

<div class="row justify-content-center" data-aos="fade-up">
  <div class="col-2 align-self-center my-5 yellow-box box-small yellow-hr">
  </div>
</div>

{{ with .Site.GetPage "home/14_open" }}
{{ $both := split .RawContent "<!--more-->" }}
<div class="row">
  <div class="col-10 col-xl-6 align-self-center my-5 mx-auto">
    <h2 class="mx-auto" data-aos="fade-right">{{ .Title | markdownify }}</h2>
  </div>
  <div class="w-100"></div>
  <div class="col-10 col-xl-6 align-self-center my-5 mx-auto">
    <h3 class="mx-auto d-xl-none" data-aos="fade-right">{{ .Params.subtitle | markdownify }}</h3>
    <h3 class="mx-auto d-none d-xl-block" data-aos="fade-right">{{ .Params.subtitle_xl | markdownify }}</h3>
  </div>
  <div class="w-100"></div>
  <div class="col-10 col-xl-5 offset-xl-1 me-xl-0 mx-auto">
    {{ index $both 0 | markdownify }}
    <lottie-player class="d-none d-xl-block" id="euFlagXL" src="/animation/eu_flag.json"  data-aos="fade"></lottie-player>
  </div>
  <div class="col-12 gx-0 d-xl-none">
    <lottie-player id="euFlag" src="/animation/eu_flag.json"  data-aos="fade"></lottie-player>
  </div>
  <div class="quote col-10 col-xl-5 mt-5 mt-xl-0 mx-auto mb-xl-5 pb-xl-5" data-aos="fade-down">
    <div class="content">{{ index $both 1 | markdownify }}</div>
  </div>
</div>
{{ end }}


{{ with .Site.GetPage "home/15_where1" }}
<div class="row justify-content-center">
  <div class="col-10 col-xl-6 align-self-center my-5">
    <h3 class="mx-auto d-xl-none" data-aos="fade-up">{{ .Title | markdownify }}</h3>
    <h3 class="mx-auto d-none d-xl-block" data-aos="fade-up">{{ .Params.title_xl | markdownify }}</h3>
  </div>
  <div class="w-100"></div>

  <div class="col-12 col-xl-6 bg-yellow huge-text box d-flex justify-content-center">
    <div data-aos="fade-down" class="align-self-center text-center">1</div>
  </div>
  <div class="col-10 col-xl-6 align-self-top p-xl-5">
    <div class="mt-5 mt-xl-0">
      <h3 data-aos="fade-right" class="pb-5 d-xl-none">{{.Params.subtitle | markdownify }}</h3>
      <h3 data-aos="fade-right" class="pb-5 d-none d-xl-block">{{.Params.subtitle_xl | markdownify }}</h3>
      {{.Content}}
    </div>
  </div>
</div>
{{ end }}

{{ with .Site.GetPage "home/16_where2" }}
<div class="row justify-content-center">

  <div class="col-12 col-xl-6 invert box huge-text d-flex justify-content-center">
    <div data-aos="fade-down" class="align-self-center text-center">2</div>
  </div>
  <div class="col-10 col-xl-6 align-self-top p-xl-5">
    <div class="mt-5 mt-xl-0">
      <h3 data-aos="fade-right" class="pb-5 d-xl-none">{{.Params.subtitle | markdownify }}</h3>
      <h3 data-aos="fade-right" class="pb-5 d-none d-xl-block">{{.Params.subtitle_xl | markdownify }}</h3>
      {{.Content}}
    </div>
  </div>

</div>
{{ end }}

{{ with .Site.GetPage "home/17_where3" }}
<div class="row justify-content-center">

  <div class="col-12 col-xl-6 bg-gray box huge-text box d-flex justify-content-center">
    <div data-aos="fade-down" class="align-self-center text-center">3</div>
  </div>
  <div class="col-10 col-xl-6 align-self-top p-xl-5">
    <div class="mt-5 mt-xl-0">
      <h3 data-aos="fade-right" class="pb-5 d-xl-none">{{.Params.subtitle | markdownify }}</h3>
      <h3 data-aos="fade-right" class="pb-5 d-none d-xl-block">{{.Params.subtitle_xl | markdownify }}</h3>
      {{.Content}}
    </div>
  </div>
</div>
{{ end }}

{{ with .Site.GetPage "home/18_conclusion" }}
<div class="row">
  <div class="col-11 mx-auto big-box py-4" data-aos="fade-down">
    {{ .Content }}
  </div>
</div>
{{ end }}

<div class="row justify-content-center mt-xl-5" data-aos="fade-up">
  <div class="col-2 align-self-center my-5 yellow-box box-small yellow-hr">
  </div>
</div>

<div class="row mt-xl-5">
  <div class="col-12 gx-0">
    <img src="/images/newsletter-sm-top.svg" class="w-100 img-fluid"/>
  </div>
  <div class="col-12 col-xl-6 gx-0 newsletter-cta p-5 text-center box">
    <div data-aos="fade-up" class="pt-xl-3">
      keep up to date and<br/>subscribe to our newsletter
    </div>
  </div>
  <div id="mc_embed_signup" class="col-12 col-xl-6 gx-0">
    <form action="https://openfuture.us1.list-manage.com/subscribe/post?u=d7c6d2a743011f3253613888f&amp;id=ca8ac23ac4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="mc-field-group">
          <input type="email" value="" name="EMAIL" class="required email form-text border-0 m-0 px-2 py-4 text-center inner-shadow w-100 newsletter-input" placeholder="enter your email..." id="mce-EMAIL">
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d7c6d2a743011f3253613888f_ca8ac23ac4" tabindex="-1" value=""></div>
        <div class="bg-primary text-center"><input type="submit" class="btn btn-primary button newsletter-button p-4" value="_Subscribe" name="subscribe" id="mc-embedded-subscribe"></div>
      </div>
    </form>
  </div>
  <div class="col-12 gx-0">
    <img src="/images/newsletter-sm-bottom.svg" class="w-100 img-fluid"/>
  </div>
</div>
{{ end }}