{{ define "main" }}
  {{- partial "progress.html" . -}}
  <div class="row">
    <header id="header" class="col-12">
      <div class="row">
        <h1 class="col-10 mx-auto">{{ .Site.Title }}</h1>
        <div class="col-8 align-self-center mx-auto">
          <lottie-player id="boxAnim" src="/animation/boxAnim2.json"></lottie-player>
        </div>
      </div>
    </header>
    {{ with .Site.GetPage "01_intro" }}
  </div>
  <div class="row justify-content-center">
    <div class="col-8 align-self-center mx-auto">
      <h2 data-aos="fade-right">{{ .Title }}</h2>
    </div>
    <div class="col-10 mx-auto">
      {{.Content}}
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-8 align-self-end gx-0">
      <lottie-player id="yochai" src="/animation/yochai1.json"></lottie-player>
    </div>
    {{ end }}

    {{ with .Site.GetPage "02_revolution" }}<h2>{{ .Title }}</h2>{{.Content}}{{ end }}
    {{ with .Site.GetPage "03_platforms" }}<h2>{{ .Title }}</h2> {{.Content}}{{ end }}
    {{ with .Site.GetPage "04_models" }}<h2>{{ .Title }}</h2> {{.Content}}{{ end }}
    {{ with .Site.GetPage "05_pockets" }}<h2>{{ .Title }}</h2> {{.Content}}{{ end }}
    {{ with .Site.GetPage "06_openness" }}<h2>{{ .Title }}</h2> {{.Content}}{{ end }}
    {{ with .Site.GetPage "07_power" }}<h2>{{ .Title }}</h2> {{.Content}}{{ end }}
    {{ with .Site.GetPage "08_zeitgeist" }}<h2>{{ .Title }}</h2> {{.Content}}{{ end }}
    {{ with .Site.GetPage "09_limits" }}<h2>{{ .Title }}</h2> {{.Content}}{{ end }}
    {{ with .Site.GetPage "10_paradox" }}<h2>{{ .Title }}</h2> {{.Content}}{{ end }}
    {{ with .Site.GetPage "11_movement" }}<h2>{{ .Title }}</h2> {{.Content}}{{ end }}
    {{ with .Site.GetPage "12_new" }}<h2>{{ .Title }}</h2> <h3>{{.Params.subtitle}}</h3>{{.Content}}{{ end }}
    {{ with .Site.GetPage "13_understanding" }}<h2>{{ .Title }}</h2> {{.Content}}{{ end }}
    {{ with .Site.GetPage "14_open" }}<h2>{{ .Title }}</h2> <h3>{{.Params.subtitle}}</h3>{{.Content}}{{ end }}
    {{ with .Site.GetPage "15_where1" }}<h2>{{ .Title }}</h2> <h3>{{.Params.subtitle}}</h3>{{.Content}}{{ end }}
    {{ with .Site.GetPage "16_where2" }} <h3>{{.Params.subtitle}}</h3>{{.Content}}{{ end }}
    {{ with .Site.GetPage "17_where3" }} <h3>{{.Params.subtitle}}</h3>{{.Content}}{{ end }}
    <hr>
    {{ with .Site.GetPage "18_conclusion" }}{{.Content}}{{ end }}
  </div>
{{ end }}
