<head>
  <meta charset="utf-8" />
  <title>{{ .Site.Title }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed"
  "includePaths" (slice "node_modules")) }} {{ $style := resources.Get
  "scss/style.scss" | toCSS $options | minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
</head>
