<!DOCTYPE html>
<html lang="en">
  {{- partial "head.html" . -}}
  <body>
    <div class="main container-fluid container-sm responses p-0 position-fixed top-0 start-50 translate-middle-x" style="z-index:1"></div>
    <main class=" container-fluid container-sm responses p-0 position-fixed top-0 start-50 translate-middle-x" style="z-index:10">
      <div class="d-flex align-items-center justify-content-between py-2 px-2 py-sm-4 px-sm-5">
        <img src="/images/logo.svg" class="logo" alt="logo" />
        <a href="/" class="btn bg-yellow" style="font-size:0.7em;">Read our Essay</a>
      </div>

    <div class="mx-auto text-center">
      <h1 class="mx-auto d-inline-flex flex-column text-start" id="title">
        <span class="mx-3">Paradox<br/>_of Open</span>
        <div class="subtitle mt-2">responses</div>
      </h1>
    </div>
    <div class="w-100"></div>
    <div class="w-80 mx-auto mt-4 intro">
      {{ .Content }}
    </div>
    <div class="w-80 mx-auto view text-end d-flex align-items-center justify-content-end" role="button"
    onclick="document.getElementById('list').classList.remove('d-none')"> View all responses <img src="/images/hamburger.svg" class="ms-2"/>
    </div>

    </main>

    <div class="d-none position-fixed w-100 bg-white p-3 shadow m-0" id="list" style="z-index:102;">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
      style="width:24px; height:24px" class="float-end"
      onclick="document.getElementById('list').classList.add('d-none')" role="button">
      <path stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
      <div class="w-100">&nbsp;</div>
      {{ range $.Param "responses"}}
        <div class="d-flex flex-row mb-4 justify-content-start">
          <div class="w-30 author text-end me-4">{{ .author }}</div>
          <div class="title w-60"><a href="{{ .link }}" class="text-decoration-none">{{ .title | markdownify }}</a></div>
        </div>
      {{ end }}
    </div>
    <div id="covers" class="position-absolute top-0 bottom-0 start-50 translate-middle-x text-center mx-auto" style="z-index:100">
        {{ range $.Param "responses"}}
          <div class="cover mx-auto d-flex align-items-center justify-content-center">
            <a href="{{.link}}">
              <img src="/images/covers/{{.cover}}" class="shadow" height="400" />
            </a>
          </div>
        {{ end }}
    </div>

    <img id="cubeBack" src="/images/cube-back.svg" class="position-fixed start-50 translate-middle-x" style="z-index:99;"/>
    <img id="cubeFront" src="/images/cube-front.svg" class="position-fixed start-50 translate-middle-x" style="z-index:101"/>

    {{- $responses := resources.Get "/js/responses.js" | js.Build (dict "minify" true "target" "es2015") | fingerprint -}}
    <script src="{{ $responses.Permalink }}"></script>
  </body>
</html>